@use '../base/mixins' as mixins;
.checkup-reviews-after{
padding-top: 130px;
  position: relative;

  @include mixins.xl {
    padding-top: 100px;
  }

  @include mixins.lg {
    padding-top: 40px;
  }

  &__top {
    display: flex;
    align-items: end;
    justify-content: space-between;
    margin-bottom: 70px;

    @include mixins.xl {
      margin-bottom: 50px;
    }

    @include mixins.lg {
      margin-bottom: 40px;
    }

    @include mixins.md {
      margin-bottom: 30px;
      flex-direction: column;
      align-items: start;
      gap: 15px;
    }

    @include mixins.sm {
      margin-bottom: 20px;
    }
  }

  &__slide {
    max-width: 436px;

    @include mixins.lg {
      max-width: 320px;
    }
  }

  &__swiper {
    overflow: visible;
  }

  .checkup-after__item{
    background-color: #fafafa;
  }
}