@use '../base/mixins' as mixins;

.directions-simptom{
  position: relative;
  padding: 100px 0 563px;

  @include mixins.xl {
      padding-bottom: 300px;
  }

  @include mixins.lg {
    padding-top: 40px;
    padding-bottom: 240px;
  }

  &__title {
    text-align: center;
    margin-bottom: 60px;

    @include mixins.xl {
      margin-bottom: 50px;
    }

    @include mixins.lg {
      margin-bottom: 40px;
    }

    @include mixins.md {
      margin: 15px 0 30px;
    }

    @include mixins.sm {
      margin-bottom: 20px;
    }
  }

  &__items {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;

    &.grid-3{
      grid-template-columns: repeat(3, 1fr);
    }

    &.grid-4{
      grid-template-columns: repeat(4, 1fr);
    }

    @include mixins.xl {
      gap: 10px;
    }

    @include mixins.lg {
      grid-auto-flow: column;
      overflow-x: auto;
      padding-bottom: 10px;
    }
  }

  &__item {
    background-color: var(--light-color);
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    padding: 25px 30px;

    @include mixins.lg {
        width: 300px;
    }
  }

  &__item-icon {
    width: 38px;
    height: 38px;
    background-color: var(--icons-bg);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 12px;

    @include mixins.xl {
      margin-bottom: 20px;
    }
  }

  &__item-title {
    font-weight: 400;
    font-size: 20px;
    line-height: calc(26/20*100%);

    span {
      font-weight: 600;
    }

    @include mixins.xxl {
      br{display: none;}
    }
    @include mixins.xl {
      font-size: 18px;
    }

    @include mixins.xs {
      br {
        display: none;
      }
    }
  }
}