:root {
  // НЕЛЬЗЯ УДАЛЯТЬ ЭТИ ПЕРЕМЕННЫЕ

  // контейнер
  --container-width: 1400px;
  --container-lg-width: 1600px;
  --container-padding: 15px;

  // шрифты
  --font-default: 'SF Pro Display';
  --font-titles: var(--font-default);

  // размер шрифта
  --defaul-font-size: 18px;
  --defaul-line-height: calc(24/18*100%);

  // брекпоинты
  --xxl: 1420px;
  --xl: 1230px;
  --lg: 991.8px;
  --md: 767.98px;
  --sm: 575.98px;
  --xs: 468px;

  // глобаьлные цвета
  --page-bg: #ffffff;
  --default-color: #000000;
  --link-color: #5C677E;


  // ЗДЕСЬ МОЖНО ПРОПИСЫВАТЬ СВОИ ПЕРЕМЕННЫЕ

  --primary: #F56E09;
  --primary-hover: #FF7C1B;
  --accent: #595C6F;
  --accent-hover: #717384;
  --whatsapp-color: #75B611;
  --whatsapp-hover: #83CB13;
  --telegram-color: #339DFF;
  --telegram-hover: #58AFFF;
  --gray: #F7F7F7;
  --subtitle: #5C677E;
  --icons-bg: #927D76;
  --light-color: #FFFFFF;


  }

.dark {
  --page-bg: #252526;
  --text-color: #fff;
}