:root {
  // НЕЛЬЗЯ УДАЛЯТЬ ЭТИ ПЕРЕМЕННЫЕ

  // контейнер
  --container-width: 1200px;
  --container-padding: 15px;

  // шрифты
  --font-default: 'Jost';
  --font-titles: var(--font-default);

  // размер шрифта
  --defaul-font-size: 16px;
  --defaul-line-height: calc(135%);

  // брекпоинты
  --xl: 1230px;
  --lg: 991.8px;
  --md: 767.98px;
  --sm: 575.98px;
  --xs: 468px;

  // глобаьлные цвета
  --page-bg: #F8F8F8;
  --default-color: #464451;
  --link-color: #464451;


  // ЗДЕСЬ МОЖНО ПРОПИСЫВАТЬ СВОИ ПЕРЕМЕННЫЕ
  --primary: #EC1111;
  --primary-2: #DBA250;
  --accent: #2D201D;
  --default: #464451;
  --default-2: #46445133;
  --default-4: #46445166;
  --default-5: #46445180;
  --default-6: #46445199;
  --default-8: #464451cc;
  --bg: #F8F8F8;
  --border: #F4F4F4;
  --bg-green: #25D366;
  --hover-primary: #FC1212;
  --hover-primary-2: #EEB35F;
  --hover-link: #D31010;
  --hover-green: #2AE871;
  --light-color: #ffffff;


  // Отступы для блоков
  --indent: 100px;

  @media (max-width: 991.8px) {
    --indent: 40px;
  }

}

.dark {
  --page-bg: #252526;
  --text-color: #fff;
}