.footer-bottom {
  max-width: 1880px;
  margin: 0 auto 20px;
  background-color: var(--accent);
  padding: 20px 0;
  border-radius: 30px;

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 60px;
  }

  &__item {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  &__item-text,
  &__item-link,
  &__item-company {
    font-size: 16px;
    line-height: calc(20/16*100%);
    color: var(--light-color);
    opacity: .6;
    transition: all .3s ease-in;

    &:hover {
      opacity: 1;
    }
  }

  &__item-link {
    text-decoration: underline;
  }

  &__item-dev {
    display: flex;
    align-items: center;
    gap: 10px;
    transition: all .3s ease-in;
    svg g {
      transition: all .3s ease-in;
    }

    &:hover {

      svg g {
        opacity: 1;
      }

      .footer-bottom__item-link {
        opacity: 1;
      }
    }

    .footer-bottom__item-link {
      font-size: 14px;
      line-height: calc(20/14*100%);
      opacity: .4;
      transition: all .3s ease-in;
    }
  }
}

@media (max-width: 991.8px) {
  .footer-bottom {
    &__inner {
      flex-wrap: wrap;
      gap: 20px;
    }

    &__item {
      width: 48%;
    }

    .logo {
      max-width: 48%;
    }
  }
}

@media (max-width: 575.98px) {

  .footer-bottom {
    &__inner {
      justify-content: center;
    }

    &__item {
      width: 50%;
    }

    .logo {
      max-width: 50%;
    }
  }
}

@media (max-width: 468px) {

  .footer-bottom {
    &__item {
      width: 75%;
    }

    .logo {
      max-width: 75%;
    }
  }
}